<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hesed - Events</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- script
================================================== -->
<script src="{% static 'js/modernizr.js' %}"></script>

<!-- favicons
================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    {% include "nav.html" %}


    <!-- page header
    ================================================== -->
    <section class="page-header page-header--events">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Upcoming Events</h1>
            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row wide block-large-1-2 block-900-full events-list">
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="events-single.html" title="">2019 Kids Church Camp.</a>
                </h3>
                <p>
                Et consequatur nihil odio odit voluptatem qui. Dolores doloribus 
                cupiditate totam esse dolores quod. Magni aut incidunt fugiat 
                labore est ut non ipsam nihil. Voluptate rerum dolores unde 
                voluptas. Et similique praesentium dolor. Et quod 
                eius sint at quae est dolores. Beatae quo facere hic.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Saturday, September 28, 2019</li>
                    <li class="events-list__meta-time">8:00AM - 5:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div>
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="events-single.html" title="">Prayer Meeting.</a>
                </h3>
                <p>
                Prayer meeting tagged miracle hour 
Time 4:45 to 6pm Evry Friday 
"Join us for Miracle Hour—a powerful time of prayer, worship, and divine
 encounters! Come expectant, as we believe for breakthroughs, healing,
  and miracles in God’s presence. Don’t miss this life-changing hour!"
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Friday</li>
                    <li class="events-list__meta-time">4:45 to 6pm</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div>
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="events-single.html" title="">Youth Convergence.</a>
                </h3>
                <p>
                Laborum distinctio minima doloribus reiciendis aut aliquid. 
                Deleniti est adipisci ut quo ducimus eum ratione voluptas. 
                Voluptatem tenetur rem ratione velit ut. Repudiandae atque 
                perspiciatis est similique rerum nam qui iusto minus. Sapiente 
                porro dolores consequatur optio animi aut facere.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Friday, July 26, 2019</li>
                    <li class="events-list__meta-time">5:00PM - 6:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div>
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="events-single.html" title="">Leadership Conference.</a>
                </h3>
                <p>
                Optio temporibus suscipit magnam. Consequatur doloribus sed. 
                Explicabo molestiae est minima. Distinctio quis optio architecto 
                molestiae officia molestiae qui veniam minima. Nemo placeat ex 
                dolor ratione qui autem eius vel. In dolorem aut enim aspernatur 
                molestias nostrum.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Sunday, July 28, 2019</li>
                    <li class="events-list__meta-time">2:00PM - 5:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div>
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="events-single.html" title="">Baptism Sunday.</a>
                </h3>
                <p>
                Et consequatur nihil odio odit voluptatem qui. Dolores doloribus 
                cupiditate totam esse dolores quod. Magni aut incidunt fugiat 
                labore est ut non ipsam nihil. Voluptate rerum dolores unde 
                voluptas. Et similique praesentium dolor. Et quod 
                eius sint at quae est dolores. Beatae quo facere hic.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Sunday, July 21, 2019</li>
                    <li class="events-list__meta-time">2:00PM - 4:00PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div>
            <div class="column events-list__item">
                <h3 class="display-1 events-list__item-title">
                    <a href="events-single.html" title="">Men's Conference.</a>
                </h3>
                <p>
                Laborum distinctio minima doloribus reiciendis aut aliquid. 
                Deleniti est adipisci ut quo ducimus eum ratione voluptas. 
                Voluptatem tenetur rem ratione velit ut. Repudiandae atque 
                perspiciatis est similique rerum nam qui iusto minus. Sapiente 
                porro dolores consequatur optio animi aut facere.
                </p>
                <ul class="events-list__meta">
                    <li class="events-list__meta-date">Saturday, August 03, 2019</li>
                    <li class="events-list__meta-time">8:00AM - 5:30PM</li>
                    <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
                </ul>
            </div>
        </div> <!-- end events-list -->

        <div class="row">
            <div class="column large-full">
                <nav class="pgn">
                    <ul>
                        <li><a class="pgn__prev" href="#0">Prev</a></li>
                        <li><a class="pgn__num" href="#0">1</a></li>
                        <li><span class="pgn__num current">2</span></li>
                        <li><a class="pgn__num" href="#0">3</a></li>
                        <li><a class="pgn__num" href="#0">4</a></li>
                        <li><a class="pgn__num" href="#0">5</a></li>
                        <li><span class="pgn__num dots">…</span></li>
                        <li><a class="pgn__num" href="#0">8</a></li>
                        <li><a class="pgn__next" href="#0">Next</a></li>
                    </ul>
                </nav> <!-- end pgn -->
            </div>
        </div>

    </section> <!-- end page content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->


{% load static %}

<!-- JavaScript
================================================== -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>