<!DOCTYPE html>
<html>
<head>
<title>RCF</title>

<script>
    setTimeout(function() {
        window.location.href = "{% url 'testimony_page' %}";
    }, 5000);
</script>

<style>
body {
    font-family: Arial;
    background: #c8f7c5;
    text-align: center;
    padding-top: 100px;
}
.box {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
</style>
    

</head>
<body>
    <div class="box">
        <h2>Thank you!</h2>
        <p>Your testimony has been submitted.</p>
        <p>You will be redirected in 5 seconds...</p>
    </div>
</body>
</html>
