<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>RCF</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

   {% load static %}

<!-- CSS
================================================== -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- script
================================================== -->
<script src="{% static 'js/modernizr.js' %}"></script>

<!-- favicons
================================================== -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'site.webmanifest' %}">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    
    {% include "nav.html" %}


    <!-- page header
    ================================================== -->
    <section class="page-header page-header--volunteer">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>Join the Team</h1>
            </div>
        </div>

    </section> <!-- end pageheader -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row">
            <div class="column">

                <p class="lead drop-cap">
                                Volunteer with us:
RCF workers are members of the Redeemed
 Christian Fellowship who volunteer their time and efforts to serve God and 
 the community. They are passionate about spreading the word of God
  and helping those in need.
                </p>

                <p>
                
                <br>

                <h2>Volunteer With Us Through the Following Ministries</h2>
                
                <div class="row block-large-1-2 block-1000-full block-list">
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num"> Drama.</h4>
                        <p>
                       Express faith through performance! Act, script, or help with stage production to convey messages in a fun and meaningful way.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                         Bible Study 
                        </h4>
                        <p>
                        Facilitate spiritual growth by leading or assisting in Bible study sessions. Join to encourage learning and sharing of God’s Word.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                         Media/Publicity 
                        </h4>
                        <p>
                       Help the church reach more people through social media, announcements, photography, and promotions. Perfect for tech-savvy or creative minds.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                        Prayer Department
                        </h4>
                        <p>
                        – Be part of the team that uplifts  
                        the church in intercession, ensuring that every event and ministry is covered 
                        in prayer. Join to deepen your spiritual life and help others spiritually.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                         Technical/Organising Department 
                        </h4>
                        <p>
                       – Help plan and coordinate church events smoothly. If you love structure, 
                        logistics, and making things happen behind the scenes, this is your place!
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                         Choir 
                        </h4>
                        <p>
                       Use your voice to glorify God! Join the choir to sing, 
                       worship, and inspire others with music. No matter your skill level, your 
                       contribution matters.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                         Sanitation –
                        </h4>
                        <p>
 Keep our church environment clean and welcoming. If you care about hygiene, 
                        organization, and creating a pleasant atmosphere, this department needs you!
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                            Decoration 
                        </h4>
                        <p>
                      Bring creativity and beauty to our gatherings.
                         Decorate venues, events, and celebrations to make every moment memorable.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                             Evangelism 
                        </h4>
                        <p>
                     Spread the good news beyond the church walls. Join this team to engage, mentor, and bring others to Christ.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                                 Follow-up 
                        </h4>
                        <p>
                Support new members and visitors, ensuring they feel welcomed and connected. Make a difference in someone’s spiritual journey.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                                Welfare 
                        </h4>
                        <p>
                  Care for the needs of church members. Provide emotional, social, and material support to those in need.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                               Academic Departments 
                        </h4>
                        <p>
                   Help fellow students with studies, mentoring, and educational programs. Share knowledge and encourage academic growth.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h4 class="block-list__title-with-num">
                            Sport 
                        </h4>
                        <p>
                      Promote fitness, teamwork, and fellowship through sports activities. Join to encourage healthy living and fun competitions!
                        </p>
                    </div>
                </div> <!-- end block-list -->

                <h2>Yes, I want to Volunteer!</h2>
                <p>
                Thank you for serving with us as we honor God and make disciples. Please fill-up and send the form below.
                </p>

                <form name="volunteerForm" id="volunteerForm" class="volunteerForm" method="post" action="" autocomplete="off">
                    <fieldset>

                        <div class="form-field">
                            <input name="cName" id="cName" class="h-full-width h-remove-bottom" placeholder="Your Name" value="" type="text">
                        </div>

                        <div class="form-field">
                            <input name="cEmail" id="cEmail" class="h-full-width h-remove-bottom" placeholder="Your Email" value="" type="text">
                        </div>

                        <div class="form-field">
                            <input name="cPhone" id="cPhone" class="h-full-width h-remove-bottom" placeholder="Mobile Number" value="" type="tel">
                        </div>

                        <div class="form-field">
                            <input name="cFacebook" id="cFacebook" class="h-full-width h-remove-bottom" placeholder="Facebook URL" value="" type="text">
                        </div>

                        <br>
                        <div class="form-field">
    <label for="cMinistry">Ministry to volunteer</label>
    <div class="ss-custom-select">
        <select class="h-full-width h-remove-bottom" name="cMinistry" id="cMinistry">
            <option value="Prayer Department">Prayer Department</option>
            <option value="Technical/Organising Department">Technical/Organising Department</option>
            <option value="Choir">Choir</option>
            <option value="Sanitation">Sanitation</option>
            <option value="Decoration">Decoration</option>
            <option value="Media/Publicity">Media/Publicity</option>
            <option value="Bible Study">Bible Study</option>
            <option value="Drama">Drama</option>
            <option value="Evangelism">Evangelism</option>
            <option value="Follow Up">Follow Up</option>
            <option value="Welfare">Welfare</option>
            <option value="Academic Departments">Academic Departments</option>
            <option value="Sport">Sport</option>
        </select>
    </div>
</div>




    <!-- Social


   {% load static %}

<!-- JavaScript
================================================== -->
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>